scripts/getSongInfoText.m
scripts/getSongInfoText.maki
winampclassic.zip
skin/TITLEBAR3.bmp
scripts/seeker.m
scripts/seeker.maki
Welcome to DeClassified 0.5.txt
DeClassified.wal
Welcome to DeClassified 0.95.txt
scripts/hideplvis.m
scripts/hideplvis.maki
DeClassifier.py
Welcome to DeClassified 0.98.txt
scripts/NoWinamp58.m
scripts/actioninfo2.m
Welcome to DeClassified 0.99.txt
DeClassified2x.wal
scripts/compiler
